<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIt>0,
                'list-group-item-danger': post.loveIt<0}">
  <span class="h2">{{ post.title }}</span>
  <span class="pull-right">{{ post.created_at | date : 'dd/MM/yyyy, hh:mm a'}}</span>
  <p>{{ post.content }}</p>
  <button type="button" name="loveIf" class="btn btn-success" (click)="onLoveIt(post)">Love It! <span *ngIf="post.loveIt >0" class="badge">{{ post.loveIt }}</span> </button>
  &nbsp;
  <button type="button" name="onDoNotLoveIt" class="btn btn-danger" (click)="onDoNotLoveIt(post)">Don't Love It!
    <span *ngIf="post.loveIt <0"  class="badge">{{ post.loveIt }}</span> </button>
  <button type="button" name="onDelete" class="btn btn-danger pull-right" (click)="onDelete(post)">
    Supprimer post </button>
</li>

